.searchResultCard {
  box-sizing: border-box; /* Added to prevent layout overflow */
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.card {
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.description {
  color: var(--colors-text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: var(--spacing-xs);
}