.link {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  color: var(--colors-text-link);
  text-decoration: none;
  cursor: var(--interactions-cursor-pointer);
  transition: color var(--interactions-transitions-duration-fast) var(--interactions-transitions-easing-default);

  &:hover {
    color: var(--colors-primary-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--colors-primary-active);
  }

  &:focus-visible {
    outline: var(--borders-focus-width) var(--borders-focus-style) var(--borders-focus-color);
    outline-offset: var(--borders-focus-offset);
    border-radius: var(--borders-radius-small);
  }
}

.disabled {
  color: var(--colors-text-secondary);
  cursor: var(--interactions-cursor-disabled);
  pointer-events: none;
  opacity: var(--effects-opacity-disabled);
  text-decoration: none;
}