.statusMessage {
  display: inline-flex;
  max-width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: var(--colors-text-secondary);
  font-weight: var(--typography-font-weight-medium);
  cursor: default;
  box-sizing: border-box;
}