.paragraph {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--typography-font-family);
  color: var(--colors-text-default);
  line-height: var(--typography-line-height-base);
  font-weight: var(--typography-font-weight-regular);
}

.large {
  font-size: var(--typography-sizes-body-large);
}

.medium {
  font-size: var(--typography-sizes-body-medium);
}

.default {
  font-size: var(--typography-sizes-body-default);
}

.small {
  font-size: var(--typography-sizes-body-small);
}