.container {
  position: relative;
  display: inline-flex;
  width: fit-content;
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  z-index: var(--interactions-z-index-tooltip);
  background-color: var(--colors-surface-tertiary);
  color: var(--colors-text-default);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--borders-radius-medium);
  border: 1px solid var(--colors-border-subtle);
  font-family: var(--typography-font-family);
  font-size: var(--typography-sizes-caption-default);
  box-shadow: var(--effects-shadows-medium);
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  transition: opacity var(--interactions-transitions-duration-fast) var(--interactions-transitions-easing-default),
              transform var(--interactions-transitions-duration-fast) var(--interactions-transitions-easing-default);

  &.visible {
    opacity: 1;
  }
}

.top {
  bottom: 100%;
  left: 50%;
  margin-bottom: var(--spacing-small);
  transform: translateX(-50%) translateY(var(--spacing-small));

  &.visible {
    transform: translateX(-50%) translateY(0);
  }
}

.bottom {
  top: 100%;
  left: 50%;
  margin-top: var(--spacing-small);
  transform: translateX(-50%) translateY(calc(var(--spacing-small) * -1));

  &.visible {
    transform: translateX(-50%) translateY(0);
  }
}

.left {
  right: 100%;
  top: 50%;
  margin-right: var(--spacing-small);
  transform: translateY(-50%) translateX(var(--spacing-small));

  &.visible {
    transform: translateY(-50%) translateX(0);
  }
}

.right {
  left: 100%;
  top: 50%;
  margin-left: var(--spacing-small);
  transform: translateY(-50%) translateX(calc(var(--spacing-small) * -1));

  &.visible {
    transform: translateY(-50%) translateX(0);
  }
}